/* Die Seitengrundeinstellungen */
*,
*::before,
*::after    {
                margin: 0;
                padding: 0;
                box-sizing: border-box; 
            }

html    {
                scroll-behavior: smooth;
                color: antiquewhite;
        }

/* Die Navbar initialisieren */


.navbar {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.5);
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
        }

.navbar ul 
    {
        display: flex;
        list-style: none;
        margin: 20px 0px;
    }

.navbar ul li 
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }

.navbar ul li a
    {
        text-decoration: none;
        color: antiquewhite;
        padding: 8px 25px;
        border-radius: 0.9em;
        transition: all 0.5s ease;
    }

.navbar ul li a:hover 
    {
        color: whitesmoke;
        box-shadow: 0 0 30px orangered;
        background-color: rgba(247, 84, 24, 0.81);
        cursor: pointer;
    } 
    
    
/* Der Button im Vorstellungefeld wird angepasst. Entsprechend der Nav-Leiste */    
.main 
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        background: rgba(130, 129, 129, 0.456);
        opacity: 0.9;
    }

.main a 
    {
        text-decoration: none;
        color: antiquewhite;
        padding: 8px 25px;
        border-radius: 0.9em;
        transition: all 0.5s ease;
    }

.main a:hover
    {
        color: whitesmoke;
        box-shadow: 0 0 30px orangered;
        background-color: rgba(247, 84, 24, 0.81);
        cursor: pointer;
    }  


/* Home-section */



#home 
    {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.23);
        height: 100vh;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        overflow: hidden;
    }

#home::before 
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: url(/img/bg.jpg) no-repeat center center/cover;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        opacity: 0.9;
    }

.main 
    {
        display: flex;
        flex-direction: column;
        border: 1px solid orange;
        border-radius: 25px;
        align-items: center;
        position: absolute;
        top: 30%;
        right: 10%;
        padding: 30px;
    }

.main h2 
    {        
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    }

.main h3 
    {        
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    }

.headings 
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3rem;
        text-align: center;
        margin: 40px 0px;
        background-color: rgba(4f, 4d, 4d, 0.5);
        color: rgba(247, 84, 24, 0.81);
        border-radius: 25px;
    }

.btn 
    {
        padding: 10px 35px;
        background-color: transparent;
        border: 1px solid whitesmoke;
        color: antiquewhite;
        transition: 0.6s ease;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
    }

.btn:hover 
    {
        cursor: pointer;
        background-color: orange;
        color: black;
        box-shadow: 0 0 5px rgba(247, 84, 24, 0.81), 0 0 10px rgba(247, 84, 24, 0.81), 0 0 15px antiquewhite;
        font-weight: bold;
    }



/* Die About - Section wird initialisiert */



#about 
    {
        background-color: #4f4d4d;
        height: 100vh;
        width: 100vw;
        color: antiquewhite;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: (10%, 1fr, 15%, 1fr, 10%);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }

.intro p 
    {
        justify-items: center;
        align-items: center;
    }


.intro .headings 
    {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

 #pic img
    {
        justify-content: center;
        align-content: center;
        grid-column: 2 / 3;
        grid-row: 4 / 7;
    }

.intro
    {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        justify-content: center;
        text-align: center;
    }

.pone
    {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
        justify-content: center;
        text-align: center;
    }

.ptwo
    {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
        justify-content: center;
        text-align: center;
    }

.pthree
    {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
        justify-content: center;
        text-align: center;
    }

.pfour
    {
        grid-column: 4 / 5;
        grid-row: 6 / 7;
        justify-content: center;
        text-align: center;
    }

.pfive
    {
        grid-column: 4 / 5;
        grid-row: 7 / 8;
        justify-content: center;
        text-align: center;
    }

.psix
    {
        grid-column: 4 / 5;
        grid-row: 8 / 9;
        justify-content: center;
        text-align: center;
    }

.pseven
    {
        grid-column: 4 / 5;
        grid-row: 9 / 10;
        justify-content: center;
        text-align: center;
    }

.peight
    {
        grid-column: 4 / 5;
        grid-row: 10 / 11;
        justify-content: center;
        text-align: center;
    }

.ptwo
    {
        grid-column: 4 / 5;
        grid-row: 11 / 12;
        justify-content: center;
        text-align: center;
    }

#pic 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

#pic img 
    {
        width: 350px;
        height: 500px;
    }
#intro 
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

#intro h2 
    {
        font-size: 2rem;
        margin-bottom: 20px;
    }




/* Portfolio Section */



#portfolio 
    {
        display: flex;
        flex-direction: column;
        color: antiquewhite;
        align-items: center;
        padding: 20px;
        background-color: #4f4d4d;
        overflow: hidden;
        height: 100vh;
    }

.gallery 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;

    }

.gallery img 
    {
        width: 400px;
        height: 280px;
        margin: 50px;
        border-radius: 25px;
    }

.headings 
    {
        color: antiquewhite;
    }


/* Service - Section */


#services 
    {
        display: flex;
        flex-direction: column;
        padding: 20px;
        overflow: hidden;
        height: 100vh;
        background-color: #4f4d4d;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

#services h1 
    {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 50px;
    }

.row 
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

.box 
    {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 450px;
        border: 1px solid black;
        margin: 10px;
        align-items: center;
        text-align: justify;
        padding: 20px;
        border-radius: 15px;
        background: linear-gradient(to top, rgba(247, 84, 24, 0.81)50%, #4f4d4d 50%);
        background-size: 100% 200%;
        transition: all 0.8s;
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
    }

.box:hover 
    {
        background-position: left bottom;
        color: antiquewhite;
        border: none;
        box-shadow: 0 0 20px rgba(247, 84, 24, 0.81);;
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
    }

.box img 
    {
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }


/* Contact Section */


#contact 
    {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: #4f4d4d;
        color: whitesmoke;
        padding: 20px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

.form 
    {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        margin: 20px 0px;
    }

.input 
    {
        padding: 12px;
        margin: 15px;
        width: 30%;
        border: none;
        outline: none;
    }

#msg 
    {
        width: 20%;
        padding: 10px;
        margin: 15px;
        border: none;
        outline: none;
    }

#send 
    {
        padding: 10px 35px;
        background-color: transparent;
        border: 1px solid whitesmoke;
        color: antiquewhite;
        transition: 0.6s ease;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
    }

#send:hover 
    {
        cursor: pointer;
        background-color: rgba(247, 84, 24, 0.81);
        color: antiquewhite;
        box-shadow: 0 0 5px rgba(247, 84, 24, 0.81), 0 0 10px rgba(247, 84, 24, 0.81), 0 0 15px antiquewhite;
        font-weight: bold;
    }

.schluss
    {
        width: 50%;
        text-align: center;
        color: antiquewhite;
        font-size: 2rem;
        margin-inline: auto;
    }